@charset "utf-8";

.activity-cards {
  display: flex;
  gap: 20px;
}
.card {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: 0.3s;
}
.card:hover {
  transform: translateY(-6px);
}
.card img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin: 15px 0;
  display: block;
}

/*-----イベントページの設定------*/
.activity-category {
  margin-top: 60px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 20px;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.05);
}

/* --- カード内の詳細リンク（index.html, activity.html） --- */
.card a {
    color: #3A6344; /* 深緑 */
    text-decoration: underline; /* 下線をつける */
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
    transition: 0.3s;
}

.card a:hover {
    color: #E67E22; /* ホバーでオレンジ */
    transform: translateX(5px); /* 右にひょこっと動かす */
}



/* --- メディアクエリ --- */
@media (max-width: 768px) {

  .activity-cards {
    flex-direction: column;
  }
    .card-grid {
    grid-template-columns: 1fr;
  }

}